#product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.product-description {
  font-size: 14px;
  color: #555;
}

.product-price {
  font-size: 16px;
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
}
#btn{
align-items: center;
padding: 10;
width: 50%;
margin-left: 40vw;
}
#wishlist-tab{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
  
}